<div class="signup-bg">
    <div>
        <div class="container">
            <div>
                <div style="text-align: center;">
                    <h3 class="title">Registrarse</h3>
                </div>
                <form method="POST" class="form-signup" autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="signup()">
                    <div class="row w-100 gap-3 gap-sm-0">
                        <!-- Nombre -->
                        <div class="pl-pr mb-sm-3 col-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="form-signup__label" for="name">Nombre: </label>
                            <div>
                                <input formControlName="name" type="text" id="name" class="form-signup__input-basic">
                                <br>
                                <span class="form-signup__span" *ngIf="campoNoEsValido('name')">Escribir Nombre</span>
                            </div>
                        </div>
                        <!-- Apellido -->
                        <div class="pl-pr mb-sm-3 col-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="form-signup__label" for="lastName">Apellido: </label>
                            <div>
                                <input formControlName="lastName" type="text" id="lastName" class="form-signup__input-basic">
                                <br>
                                <span class="form-signup__span" *ngIf="campoNoEsValido('lastName')">Escribir Apellido</span>
                            </div>
                        </div>
                        <!-- Apellido -->
                        <div class="pl-pr mb-sm-3 col-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="form-signup__label" for="username">Nombre de Usuario: </label>
                            <div>
                                <input formControlName="username" type="text" id="username" class="form-signup__input-basic">
                                <br>
                                <span class="form-signup__span" *ngIf="campoNoEsValido('username')">Escribir Usuario</span>
                            </div>
                        </div>                      
                        <!-- EMAIL -->
                        <div class="pl-pr mb-sm-3 col-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="form-signup__label" for="email">Email: </label>
                            <div style="position: relative;">
                                <span class="material-symbols-outlined icon-span">mail</span>
                                <hr>
                                <input formControlName="email" type="email" id="email" class="form-signup__input-medium">
                            </div>
                            <span class="form-signup__span" *ngIf="campoNoEsValido('email')">Escribir Email</span>
                        </div>
                        <!-- Contraseña -->
                        <div class="pl-pr mb-sm-3 col-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="form-signup__label" for="password">Contraseña: </label>
                            <div style="position: relative;">
                                <span class="material-symbols-outlined icon-span">lock</span>
                                <hr>
                                <input formControlName="password" [type]="hide ? 'password' : 'text'" id="password" class="form-signup__input-hard">
                                <button type="button" class="button-vis" (click)="hide = !hide">
                                    <span class="material-symbols-outlined">{{hide ? 'visibility' : 'visibility_off'}}</span>
                                </button>
                            </div>
                            <span class="form-signup__span" *ngIf="campoNoEsValido('password')">Escribir Contraseña</span>
                        </div>
                    </div>
                    <div *ngIf="showMessage">
                        <p class="form-span-alert">Completar todos los campos</p>
                    </div>
                    <button type="submit" class="form-signup__button">Registrar</button>
                </form>
                <div *ngIf="modalCongrats" class="modal">
                    <div class="modal-container">
                        <button (click)="closeCongrats()" class="modal-close" type="button">X</button>
                        <p class="modal__title">Felicidades 😁</p>
                        <p class="modal__subtitle">El registro fue exitoso</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>